openapi: 3.0.3
info:
  title: azuki-api
  version: '0.1'
  description: github.com/sylms/azuki api document
  contact:
    url: 'https://sylms-explorer.open.coins.tsukuba.ac.jp/about'
servers:
  - url: 'https://sylms-explorer-api.open.coins.tsukuba.ac.jp'
    description: ''
paths:
  /course:
    post:
      summary: /course
      tags:
        - course
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                title: courses
                items:
                  $ref: '#/components/schemas/course'
          headers: {}
        '400':
          description: Bad Request
      operationId: get-course
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/req'
      description: |
        科目を検索します。

        例えば、`course_name` に「情報」と指定した場合、科目名に「情報」を含む科目の情報を返します。
        `course_name` と `course_overview` のどちらかはクエリにつける必要があります。
  /facet:
    post:
      summary: /facet
      tags:
        - facet
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/facet'
          headers: {}
        '400':
          description: Bad Request
      operationId: get-facet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/req'
      description: |
        科目を検索します。

        例えば、`course_name` に「情報」と指定した場合、科目名に「情報」を含む科目の情報を返します。
        `course_name` と `course_overview` のどちらかはクエリにつける必要があります。
  /csv:
    post:
      summary: /csv
      tags:
        - csv
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
          headers: {}
        '400':
          description: Bad Request
          headers: {}
      operationId: get-csv
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/req'
            examples: {}
      description: |
        CSV をダウンロード
components:
  schemas:
    course:
      title: course
      type: object
      example:
        - id: 18043
          course_number: GB13312
          course_name: 情報特別演習I
          instructional_type: 2
          credits: 2
          standard_registration_year:
            - 2
          term:
            - 9
          period:
            - 随時
          classroom: ""
          instructor:
            - 多田野
            - 保國
            - 面
            - 他
            - ''
          course_overview: '受講生の自主的なテーマ設定および解法設計を重視した演習を行う。発案力,実現力,表現力を養うことを目的とする。'
          remarks: 情報科学類生に限る。 オンライン(オンデマンド型) オンライン(同時双方向型) 対面
          credited_auditors: 0
          application_conditions: 施設設備の許容量上の制約と学類生に対する良質の少人数教育を行うため
          alt_course_name: Special Exercise in Information Science I
          course_code: GB13312
          course_code_name: 情報特別演習I
          csv_updated_at: '2021-02-19T01:08:57+09:00'
          year: 2021
          created_at: '2021-10-11T17:24:36.647253+09:00'
          updated_at: '2021-10-11T17:24:36.647253+09:00'
        - id: 18044
          course_number: GB13322
          course_name: 情報特別演習II
          instructional_type: 2
          credits: 2
          standard_registration_year:
            - 3
          term:
            - 9
          period:
            - 随時
          classroom: ""
          instructor:
            - 多田野
            - 保國
            - 面
            - 他
            - ''
          course_overview: '受講生の自主的なテーマ設定および解法設計を重視した演習を行う。発案力,実現力,表現力を養うことを目的とする。'
          remarks: 情報科学類生に限る。 オンライン(オンデマンド型) オンライン(同時双方向型) 対面
          credited_auditors: 0
          application_conditions: 施設設備の許容量上の制約と学類生に対する良質の少人数教育を行うため
          alt_course_name: Special Exercise in Information Science II
          course_code: GB13322
          course_code_name: 情報特別演習II
          csv_updated_at: '2021-02-19T01:09:26+09:00'
          year: 2021
          created_at: '2021-10-11T17:24:36.647253+09:00'
          updated_at: '2021-10-11T17:24:36.647253+09:00'
      x-examples:
        レスポンスの例:
          - id: 18043
            course_number: GB13312
            course_name: 情報特別演習I
            instructional_type: 2
            credits: 2
            standard_registration_year:
              - 2
            term:
              - 9
            period:
              - 随時
            classroom: ""
            instructor:
              - 多田野
              - 保國
              - 面
              - 他
              - ''
            course_overview: '受講生の自主的なテーマ設定および解法設計を重視した演習を行う。発案力,実現力,表現力を養うことを目的とする。'
            remarks: 情報科学類生に限る。 オンライン(オンデマンド型) オンライン(同時双方向型) 対面
            credited_auditors: 0
            application_conditions: 施設設備の許容量上の制約と学類生に対する良質の少人数教育を行うため
            alt_course_name: Special Exercise in Information Science I
            course_code: GB13312
            course_code_name: 情報特別演習I
            csv_updated_at: '2021-02-19T01:08:57+09:00'
            year: 2021
            created_at: '2021-10-11T17:24:36.647253+09:00'
            updated_at: '2021-10-11T17:24:36.647253+09:00'
          - id: 18044
            course_number: GB13322
            course_name: 情報特別演習II
            instructional_type: 2
            credits: 2
            standard_registration_year:
              - 3
            term:
              - 9
            period:
              - 随時
            classroom: ""
            instructor:
              - 多田野
              - 保國
              - 面
              - 他
              - ''
            course_overview: '受講生の自主的なテーマ設定および解法設計を重視した演習を行う。発案力,実現力,表現力を養うことを目的とする。'
            remarks: 情報科学類生に限る。 オンライン(オンデマンド型) オンライン(同時双方向型) 対面
            credited_auditors: 0
            application_conditions: 施設設備の許容量上の制約と学類生に対する良質の少人数教育を行うため
            alt_course_name: Special Exercise in Information Science II
            course_code: GB13322
            course_code_name: 情報特別演習II
            csv_updated_at: '2021-02-19T01:09:26+09:00'
            year: 2021
            created_at: '2021-10-11T17:24:36.647253+09:00'
            updated_at: '2021-10-11T17:24:36.647253+09:00'
      properties:
        id:
          type: integer
          example: 101
          description: 通し番号である。
        course_number:
          type: string
          example: GB13312
          description: 科目番号である。
        course_name:
          type: string
          example: 情報特別演習I
          description: 科目名である。
        instructional_type:
          type: number
          example: 2
          description: '授業方法である。値は https://www.tsukuba.ac.jp/education/ug-courses-openclass/2021/pdf/1.pdf#page=2 を参照すること。'
        credits:
          type: string
          example: '2.0'
          description: 単位数である。KdB のデータをそのまま保持しており「-」が含まれることがある。
        standard_registration_year:
          type: array
          description: 標準履修年次である。KdB のデータをほぼそのまま保持しており「?」が含まれることがある。
          items:
            type: integer
            example: 1
        term:
          type: array
          description: |
            開講時期である。数値と具体的な時期の対応は以下の通りである。

            春A = 1

            春B = 2

            春C = 3

            秋A = 4

            秋B = 5

            秋C = 6

            夏季休業中 = 7

            春季休業中 = 8

            通年 = 9

            春学期 = 10

            秋学期 = 11
          items:
            type: integer
            example: '[2]'
        period:
          type: array
          description: 曜時限である。
          items:
            type: string
            example: 随時
        classroom:
          type: string
          description: 教室である。
        instructor:
          type: array
          description: 担当教員である。
          items:
            type: string
        course_overview:
          type: string
          example: '受講生の自主的なテーマ設定および解法設計を重視した演習を行う。発案力,実現力,表現力を養うことを目的とする。'
          description: 授業概要である。
        remarks:
          type: string
          example: 情報科学類生に限る。 オンライン(オンデマンド型) オンライン(同時双方向型) 対面
          description: 備考である。
        credited_auditors:
          type: integer
          example: 0
          description: 科目等履修生申請可否である。対応は、「×」は 0、「△」は 1、空は 2 となっている。
        application_conditions:
          type: string
          example: 施設設備の許容量上の制約と学類生に対する良質の少人数教育を行うため
          description: 申請条件である。
        alt_course_name:
          type: string
          example: Special Exercise in Information Science I
          description: 英語(日本語)科目名である。
        course_code:
          type: string
          example: GB13312
          description: 科目コードである。
        course_code_name:
          type: string
          example: 情報特別演習I
          description: 要件科目名である。
        csv_updated_at:
          type: string
          example: '2021-03-23 11:43:50+09'
          description: KdB からエクスポートした CSV ファイルに記載されている「データ更新日」である。
        year:
          type: integer
          example: 2021
          description: 対象年度である。
        created_at:
          type: string
          example: '2021-08-24 00:42:18.517476+09'
          description: azuki が参照する DB 上のデータの作成日時である。
        updated_at:
          type: string
          example: '2021-08-24 00:42:18.517476+09'
          description: azuki が参照する DB 上のデータの更新日時である。
    facet:
      title: facet
      type: object
      description: ファセット検索のレスポンス
      x-examples:
        ある例:
          term_facet:
            '1': 4894
            '2': 5000
            '3': 2692
            '4': 5002
            '5': 5057
            '6': 2689
            '7': 387
            '8': 132
            '9': 2651
            '10': 91
            '11': 69
      properties:
        term_facet:
          description: 開講時期ごとの検索結果に含まれる件数
          type: object
          properties:
            '1':
              type: number
              example: 4894
            '2':
              type: number
              example: 5000
            '3':
              type: number
              example: 2692
            '4':
              type: number
              example: 5002
            '5':
              type: number
              example: 5057
            '6':
              type: number
              example: 2689
            '7':
              type: number
              example: 387
            '8':
              type: number
              example: 132
            '9':
              type: number
              example: 2651
            '10':
              type: number
              example: 91
            '11':
              type: number
              example: 69
    req:
      type: object
      x-examples:
        リクエストの例:
          course_number: GA
          course_name: 情報
          term: 春A 春B
          period: '月1, 月2'
          course_overview: データ
          course_name_filter_type: and
          course_overview_filter_type: and
          filter_type: and
          limit: 100
          offset: 0
      description: 検索対象とする科目の情報を指定
      title: ''
      properties:
        course_number:
          type: string
          example: GA
          description: |-
            科目番号を指定
            アンダースコアで任意の1文字に代替可能
            空白区切りで単語分割
        course_name:
          type: string
          example: 情報
          description: |-
            科目名を指定
            アンダースコアで任意の1文字に代替可能
            空白区切りで単語分割
        term:
          type: string
          example: 春A 春B
          description: |-
            開講時期を指定
            アンダースコアで任意の1文字に代替可能
            空白区切りで単語分割
        period:
          type: string
          example: '月1, 月2'
          description: |-
            開講曜日時間を指定
            アンダースコアで任意の1文字に代替可能
            空白区切りで単語分割
        course_overview:
          type: string
          description: |-
            科目概要を指定
            アンダースコアで任意の1文字に代替可能
            空白区切りで単語分割
          example: データ
        course_name_filter_type:
          type: string
          enum:
            - and
            - or
          example: and
          description: '`course_name` の各単語をどのように繋げて検索するか。`course_name` を設定しているときにはこのパラメーターも必須である。'
        course_overview_filter_type:
          type: string
          enum:
            - and
            - or
          example: and
          description: '`course_overview` の各単語をどのように繋げて検索するか。`course_overview` を設定しているときにはこのパラメーターも必須である。'
        filter_type:
          type: string
          enum:
            - and
            - or
          example: and
          description: 各要素のどのように繋げて検索するか。現在は、何と指定しようが、AND で結ばれて検索される。
        limit:
          type: integer
          example: 20
          default: 100
          description: 取得する最大件数
        offset:
          type: integer
          example: 0
          default: 0
          description: スキップする件数
  parameters: {}
  responses: {}
